@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,500&display=swap');

body {
    font-family: 'Work Sans', sans-serif;
}

header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h3 {
    color: #131313;
    font-size: 45px;
    font-weight: 700;
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
}

nav li a {
    text-decoration: none;
    color: #424242;
}

.header-content {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.header-title {
    color: #131313;
    text-align: center;
    font-size: 64px;
    font-weight: 700;
}

.header-des {
    color: #727272;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 32px;
}

.header img {
    display: block;
    margin-top: 20px;
    width: 100%;
}

.btn-primary {
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    text-align: center;
    border: none;
    font-size: 20px;
    font-weight: 400;
    padding: 20px 25px;
}

main {
    max-width: 1440px;
    margin: 70px auto;
}

.teams-container {
    display: flex;
    align-items: center;
}

.teams-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.teams-content {
    padding-left: 70px;
    padding-right: 70px;
}

.teams-title {
    font-size: 45px;
    margin-bottom: 24px;
}

.teams-title #Quick {
    color: #727272;
    font-weight: 500;
}

.teams-title #Our {
    color: #131313;
    font-weight: 700;
}

.teams-title #Features {
    color: #FF900E;
    font-weight: 700;
}

.teams-des {
    color: #727272;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 30px;
}

.facts-title {
    color: #131313;
    font-size: 45px;
    font-weight: 700;
    line-height: 26px;
}

.facts-des {
    color: #727272;
    font-size: 16px;
    font-weight: 400;
}

.facts-card-container {
    display: flex;
    justify-content: space-around;
}

.facts-card-container .card {
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 40px 30px;
}

.facts-card-container .card-stats {
    color: #424242;
    font-size: 45px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
}

.facts-card-container .card-title {
    color: #727272;
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 5px;
}

.Sponsors {
    text-align: center;
}

.sponsor-title {
    color: #131313;
    font-size: 45px;
    font-weight: 700;
}

.sponsor-des {
    color: #727272;
    font-size: 16px;
    font-weight: 400;
}

.sponsors-img {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
}

.sponsors-img img {
    width: 165px;
}

/* responsive */
@media screen and (max-width: 576px) {
    header {
        padding: 20px;
    }

    nav,
    .teams-container,
    .facts-card-container,
    .sponsors-img {
        flex-direction: column;
    }

    .teams-img {
        grid-template-columns: 1fr;
    }

    .teams-content,
    .facts-card-container {
        padding-right: 20px;
        padding-left: 20px;
    }

    .facts-card-container {
        gap: 20px;
    }
}

@media screen and (min-width: 576px) and (max-width: 960px) {
    header {
        padding: 50px;
    }

    nav,
    .teams-container,
    .sponsors-img {
        flex-direction: column;
    }

    .teams-content,
    .facts-card-container {
        padding-right: 20px;
        padding-left: 20px;
    }

    .facts-card-container {
        gap: 20px;
    }
}